@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {

    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
   
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho {

    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__link {

    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu {

    display: flex;
    gap: 80px;
}

.title {

    color: var(--cor-terciaria);
}

.main {

    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.main__conteudo {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.main__conteudo__titulo {

    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.main__conteudo__paragrafo {
    
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;

}

.main__links {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.main__links__sub_titulos {

    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    
}

.main__links__link {

    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px inset var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    
}

.main__links__link:hover {

    background-color: var(--cor-hover);
}

.main__imagen {

    width: 70%;
}

.footer {
    
    padding: 8px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400px;
}

@media (max-width: 1200px) {

    .cabecalho {

        padding: 10%;
    }

    .cabecalho__menu {

        justify-content: center;
    }

    .main {
        flex-direction: column-reverse;
    }

    .main__conteudo {

        width: auto;
    }
}
